<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<div class="jumbotron">
  <div class="container">
    <h1> Welcome To SATYAM EXAMS </h1>
    <h2> RULES:</h2>
    <ul>
      <li>Rule-1:You should write only one exam per day</li>
      <li>Rule-1:You should write only one exam per day</li>
      <li>Rule-1:You should write only one exam per day</li>
      <li>Rule-1:You should write only one exam per day</li>
      <li>Rule-1:You should write only one exam per day</li>
    </ul>
  </div>
</div>
{%endblock%}

</body>
</html>